@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-kavoon: "Kavoon", "serif";
  --font-kodemono: "Kode Mono", "serif";

  --color-LavenderMist: #d9eafd;
  --color-DavyGrey: #485664;
  --color-CrystalBlue: #60abff;
  --color-quiz-accent: #6366f1;
}
